.site-brand-container {
  background: $black-deep;

  +tablet-mobile() {
    box-shadow: 0 0 16px rgba(0, 0, 0, .5);
  }
}

.site-meta {
  padding: 20px 0;
}

.brand {
  padding: 0;
}

.site-subtitle {
  margin: 10px 10px 0;
}

.custom-logo-image {
  margin-top: 20px;

  +tablet-mobile() {
    display: none;
  }
}
//背景
body { 
  background-color: #315481;
  background-image: linear-gradient(to bottom,#315481,#918e82 100%);
  background-attachment: fixed;
  
}
//标题颜色
.site-brand-container {
    background: #d2edf4 ;
    background-image: linear-gradient(to bottom,#d0edf5,#e1e5f0 100%);
}
//主标题
.site-title {
    color: #315481;
}
//副标题
.site-subtitle {
    color: green;
}
.footer{
    font-size: 14px;
    color: #ededed;
}